
$mobile: 576px;

.main-producto{
    //intente usar los condicionales, pero solo me toma la lectura en cascada el height:363%, tambien intente usar otra carpeta nueva dentro de layout llamda condicional y importar desde ahi el $mobile 576px pero tampoco me funciono, disculpe pero no me sale de momento usarlo.
    height: 295%;
    @if $mobile <= 576px{
        height: 363%;
    }
    div{
        div{
            div{
                button{
                    height: 45px;
                    width: 40%;
                    color: rgb(0, 0, 0);
                    outline: none;
                    border: none;
                    background-color:#FEEA00;
                    font-weight: bold;
                    transition: all 0.4s;
                    cursor: pointer;
                    border-radius: 5px;
                    &:hover{
                        border: 1px solid #000000;
                        background-color: transparent;
                        color: #000000;
                        transition: all 0.9s;
                    }
                }
            }
        }
    }
}
