header{
    height: 20%;
    .container{
        .navbar-brand{
            font-size: 22px;
        }
        .nav-item{
            a{
                color: rgb(0, 0, 0);
                font-weight: 600;
                text-transform: uppercase;
                margin-right: 15px;
                border-radius: 12px;
                &:hover{
                    color: rgb(245, 245, 8);
                    background-color: black;
                    border-radius: 12px;
                    transition: 0.9s;
                }
            }
        }
    }
}